@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1px;
  cursor: pointer;
}

.logo {
  height: 60px;
  width: auto;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  font-family: 'Playfair Display', serif;
}

.nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: 160px;
  
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 76px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.nav-links li {
  position: relative;
}

.nav-links li:hover,
.mobile-menu li:hover {
  color: black;
  transform: scale(1.1);
}

.dropdown li:hover {
  background-color: #f2f2f2;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 30px;
  
  min-width: 280px;
  flex-shrink: 0;
  
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 33px;
  font-size: 18px;
  cursor: pointer;
}

.nav-icons svg:last-child {
  margin-right: 25px;
}

.nav-icons svg:hover {
  color: #C49B8F;
  transform: scale(1.2);
}

.menu-toggle {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 250px;
  background: white;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  text-align: left;
  padding: 15px 0;
  border-radius: 5px;
}

.mobile-menu li {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.mobile-menu li:hover {
  background: #f2f2f2;
}

.show-menu {
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  align-items: center;
  border: 1px solid #222;
  border-radius: 999px;
  padding-left: 12px;
  padding-right: 4px;
  background-color: white;
  height: 40px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 15px;
  background: none;
  width: 140px;
  color: #333;
  height: 100%;
  line-height: 40px;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.search-button:hover {
  color: #C49B8F;
}

@media (max-width: 1200px){
  
  .nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }

}
@media (max-width: 890px){
  .nav-links {
    gap: 25px;
  }
  .nav-icons svg:last-child {
    margin-right: 10px;
  }
  .search-input {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }
  .logo-container {
    position: static;
    justify-content: center;
  }
  .logo {
    height: 35px;
  }
  .logo-text {
    font-size: 20px;
  }
  .nav-icons {
    display: flex;
    gap: 38px;
    font-size: 18px;
    cursor: pointer;
    margin-left: auto;
    padding-right: 35px;
  }
  .menu-toggle {
    display: block;
  }
  .nav-links {
    display: none;
    cursor: pointer;
  }
  .mobile-menu {
    display: none;
  }
  .show-menu {
    display: flex;
  }

  .nav-right .search-form {
    display: none;
  }

  .mobile-search-form {
    display: flex;
    align-items: center;
    margin: 10px 20px 0 20px;
    border: 1px solid #222;
    border-radius: 999px;
    padding-left: 12px;
    padding-right: 4px;
    background-color: white;
    height: 40px;
  }

  .mobile-search-form .search-input {
    width: 100%;
  }

  .mobile-search {
    padding: 10px 0;
  }

}

@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}

  
