<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="form-container">
        <h2>SignUp</h2>
        <form action="/auth/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
        
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        
            <button type="submit">Sign Up</button>
        </form>
        
      </div>
    
</body>
</html>